*{
  border: 0;
  margin: 0;
  padding: 0;
}
.geral{
  background-color: pink;
  width: 1900px;
  height: 960px;
}
#topo{
  background-color: orange;
  width: 1900px;
  height: 160px;
}
.menu{
  background-color: #00FF00;
  color: #FFFFFF;
  width: 400px;
  height: 700px;
  float: left;
}
.conteudo{
  background-color: #0000FF;
  color: #FFFFFF;
  width: 1500px;
  height: 700px;
  margin-left: 400px;
}
#rodape{
  background-color: #FF0000;
  color: #FFFFFF;
  width: 1900px;
  height: 100px;
}
