*{
  border: 0;
  margin: 0;
  padding: 0;
}
body{
  background-color: pink;
  width: 1850px;
  height: 970px;
}
header{
  background-color: #0000FF;
  width: 1850px;
  height: 160px;
}
header h1{
  color: #FFFFFF;
  text-align: center;
}
nav{
  background-color: red;
  width: 1850px;
  height: 140px;
}
nav ul li{
  display: inline;
  color: #FFFFFF;
  list-style-type: none; 
}
section{
  background-color: #00FF00;
  width: 1850px;
  height: 560px;
  text-align: center;
}
footer{
  background-color: gray;
  width: 1850px;
  height: 110px;
}
